@model IEnumerable<IOrderResponse>
@{
    Layout = null;
}

<link href="@("http://" + Context.Request.Host.ToString() + "/StyleSheet.css")" rel="stylesheet" />
<h1>Orders</h1>
<table class="table w-100 mt">
    <thead>
        <tr>
            <th>Date and Time</th>
            <th>Stock</th>
            <th>Order Typer</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Trade Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(IOrderResponse Orders in Model)
        {
            <tr>
                <td>@Orders.DateAndTimeOfOrder.ToString("dd MMMM yyyy hh:mm:ss tt")</td>
                <td>@Orders.StockName.ToString() (@Orders.StockSymbol.ToString())</td>
                <td>@Orders.TypeOfOrder.ToString()</td>
                <td>@Orders.Quantity.ToString()</td>
                <td>@Orders.Price.ToString("N")</td>
                <td>@Orders.TradeAmount.ToString("N")</td>
            </tr>
        }
    </tbody>
</table>




