@model StockTrade
@{
    ViewBag.Title = "FinnHub.io";
}

<form method="post">
    
        <input type="hidden" name="FinnHubToken" id="FinnHubToken" value="@ViewBag.FinnHubToken" />
        <input type="hidden" name="StockSymbol" id="StockSymbol" value="@Model.StockSymbol" />
        <input type="hidden" name="StockName" id="StockName" value="@Model.StockName" />
        <input type="hidden" name="Price" id="price" value="@Model.Price" />

        <div class="box trading-panel">
            <div class="flex trading-panel-flex">
                <div id="stock-price-panel">
                    <div class="stock">
                        <h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
                        <h2 class="stock-price"><small class="text-grey">$</small> <span class="stockPrice">@Model.Price.ToString("N")</span></h2>
                    </div>
                </div>

                
            </div>
            
        </div>




</form>

<scripts src="~/Scripts/FinnHub.js"></scripts>